@keyframes fadeInImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img-loading {
    opacity: 0;
    width: 100%;
    height: auto;
    // z-index: -1;
}
.img-loaded {
    animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.3s;
    // z-index: -1;
}

.home-container {
    background-color: #e6ffee;
}

.signin-container {
    height: 100%;
}

.cart-container {
    background-color: white;
    height: 100%;
    li:nth-child(even) {
        background: rgb(245, 245, 242);
    }
}

.construction-div {
    display: block;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
}

html {
    font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    height: 100%;
}

/* Layout */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
header {
    grid-area: header;
    background-color: #203040;
}

footer {
    grid-area: footer;
    background-color: #004d1a;
    color: #ffffff;
}
/* Common */
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ff8000;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    margin-top: 1rem;
}

/* Header */
header a {
    color: #ffffff;
    padding: 1rem;
}
a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}

.badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    margin-left: 0.2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .nav-btn {
        width: 20px;
        height: 20px;
    }
    input {
        width: 94%;
    }
    .search-icon {
        height: 20px;
    }
}
.row.center {
    justify-content: center;
}
.row.top {
    align-items: flex-start;
    padding-top: 50px;
}

.top {
    padding-top: 50px;
}

.col-1 {
    flex: 1 1 25rem;
    padding-right: auto;
    padding-left: auto;
    margin-left: auto;
    margin-right: 15%;
}
.col-2 {
    flex: 2 1 50rem;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
    padding-left: auto;
    background-color: white;
    button {
        background-color: #660022; // dark red
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
}

.min-30 {
    min-width: 30rem;
}
/* Image */
img {
    border-radius: 0.5rem;
}
img.small {
    max-width: 5rem;
    width: 100%;
}
img.medium {
    max-width: 29rem;
    width: 100%;
}
img.large {
    width: 100%;
}

/* Card */
.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 5px 10px 18px #888888;
}
.card-body {
    padding: 1rem;
}
.card-body > * {
    margin-bottom: 0.5rem;
}
.price {
    font-size: 2rem;
}
/* Rating */
.rating span {
    color: #f0c040;
    margin: 0.1rem;
}
.success {
    color: #20a020;
}
.danger {
    color: #a02020;
}
.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}
.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}
.alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
}

.alert-success {
    color: #04fa04;
    background-color: #20a020;
}

.quantity-selector {
    width: 50px;
}

#cart-item-grid {
    justify-content: center;
    display: grid;
    grid-template-areas: "item-icon item-name item-quantity-selector item-price item-delete";
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 10px;
    padding: 1%;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#item-icon {
    grid-area: "item-icon";
}

#item-name {
    grid-area: "item-name";
    a {
        color: black;
    }
}
#item-quantity-selector {
    grid-area: "item-quantity-selector";
    text-decoration: none;
    a {
        color: black;
    }
}
#item-price {
    grid-area: "item-price";
}
#item-delete {
    grid-area: "item-delete";
}

.border {
    border: 3px solid #660022;
    list-style-type: none;
    width: 100%;
}

.top-margin {
    margin-top: 50px;
}

.is-visible {
    z-index: -1;
}

.height {
    height: 100%;
}

.carousel-root {
    width: 60%;
}

.ImageCarousel-container {
    margin: 50px;
    display: flex;
    justify-content: center;
}

/* Form */
.form {
    max-width: 60rem;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    #isPercentageLabel #expireLabel {
        margin-left: 1rem;
        margin-top: 1rem;
    }
}
.form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.form label {
    margin: 1rem 0;
}
.sudo-background-black {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    //  width: 100%;
}

.padding-bottom {
    padding-bottom: 15.5%;
}

.padding-bottom27 {
    padding-bottom: 27%;
}

// .sudo-background-white {
//     background-color: rgba(102, 0, 34, 0.3);
//     height: 100%;
//     width: 100%;
// }

/* Checkout Steps */
.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
}
.checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
}

.checkout-height {
    height: 20vh;
}

.add-margin {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.add-width {
    width: 80%;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 50px;
    table-layout: fixed;
}
.table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}
.table td,
.table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
}
.table button {
    margin: 0 0.2rem;
}

// image Uploader

.drop_zone {
    display: flex;
    height: 200px;
    width: 100%;
    background: white;
    //background-image: url("/icons/upload.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: #ffffff;
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 6px;
    margin-bottom: 25px;
    background-position: center 28px;
}
.drop_zone > p {
    margin: auto;
}
.image {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    display: inline-block;
}
.input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        margin-bottom: 20px;

    }
}

.center-text {
    text-align: center;
}

.isPercentageLabel .expireLabel {
    display: block;
    margin: 1rem;
}


#isPercentage #expire {
    display: block;
    margin: 1rem;
}